* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 250px 25px;
    max-width: 500px;
    display: flex;
    gap: 35px;
    transition: 3s ease;
}

.heart {
    background: black;
    width: 50px;
    height: 50px;
    position: relative;
    transform: rotate(45deg);
    animation: animateHeart 1.2s infinite;
}


.heart::before,
.heart::after {
    content: "";
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    border-radius: 50%;
    transition: 3s ease;
}

.heart::before {
    left: -25px;
}

.heart::after {

    top: -25px;
}

@keyframes animateHeart {
    0% {
        transform: rotate(45deg) scale(0.8);
    }

    5% {
        transform: rotate(45deg) scale(0.9);
    }

    10% {
        transform: rotate(45deg) scale(0.8);
    }

    15% {
        transform: rotate(45deg) scale(1);
    }

    50% {
        transform: rotate(45deg) scale(0.8);
    }

    100% {
        transform: rotate(45deg) scale(0.8);
    }
}

.red{
    background: red;
}